.trending-button{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap:10px;
    /* position: absolute;
    top: 50px;
    right: 50px; */
}
.trending-item{
    display:flex;
    gap:8px;
    flex-direction: row;
}