.search-bar-container {
  position: relative;
  width: 50%;
}

.suggestion{
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%; /* Adjust the width as needed */
}
.suggestion-hidden {
  border-radius: 8px;

}
.suggestion-expanded {
  border-bottom: 0;
  border-radius: 8px 8px 0px 0px;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius:0px 0px 8px 8px;
  z-index: 1000;
  max-height: 160px;
  overflow-y: scroll;
  max-height: 0; /* Set initial max-height to 0 for hidden state */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; /* Add a transition property for max-height */
}

.suggestions-list.expanded {
  max-height: 160px; /* Set max-height for expanded state */
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}


.suggestions-list li:hover {
  background-color: #f5f5f5;
  border-radius:0px 0px 8px 8px;
}



.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover,
.suggestions-list li.selected {
  background-color: #f5f5f5;
}

/* Add the rest of your styles */

.search-res-input{
  width: 100%;
}