@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #e3e3e3;
}

*{
    margin: 0;
    padding: 0;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .btn {
    background-color: #6c248c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #472066; 
  }